section page

<br><br>

threads:

<br><br>

{#<li><a href="{{ this.router.linkTo('thread:view', {'id': 1, 'thread:view:id': 1}) }}">thread 1</a></li>#}
{#<li><a href="{{ this.router.linkTo('thread:view', {'id': 1, 'thread:view:id': 2}) }}">thread 2</a></li>#}

<li><a href="{{ this.router.linkTo('forum_thread', {'sectionId': 1, 'threadId': 1}) }}">thread 1</a></li>
<li><a href="{{ this.router.linkTo('forum_thread', {'sectionId': 1, 'threadId': 2}) }}">thread 2</a></li>

