forum main page

<br><br>

sections:

<br><br>

{#<li><a href="{{ this.router.linkTo('section:view', {'section:view:id': 1}) }}">section 1</a></li>#}
{#<li><a href="{{ this.router.linkTo('section:view', {'section:view:id': 2}) }}">section 2</a></li>#}

<li><a href="{{ this.router.linkTo('forum_section', {'sectionId': 1}) }}">section 1</a></li>
<li><a href="{{ this.router.linkTo('forum_section', {'sectionId': 2}) }}">section 2</a></li>